{% load static %}
<link rel="stylesheet" href="{% static 'FE3HApp/style.css' %}">

<a href="{% url 'FE3HApp:index' %}">< トップへ戻る</a><br>

<script src="{% static 'FE3HApp/battalion.js' %}"></script>

<div style="float: left;margin-right:10px">
	<h1>騎士団</h1>
	<div style="float: top; margin-bottom: 10px;">
		<fieldset style="font-weight: bold;" id="CheckBoxFields">
			<legend>所属選択</legend>

			<table style="width: 100%;">
			{% for affiliation in affiliation_list %}
				{% if forloop.counter|add:"2"|divisibleby:"3" %}
					<tr><td><input type="checkbox" id="{{affiliation.affiliation}}" name="{{affiliation.affiliation}}" onchange="filterBattalion()" />
						<label for="{{affiliation.affiliation}}">{{ affiliation.affiliation }}</label></td>
				{% elif forloop.counter|divisibleby:"3"%}
					<td><input type="checkbox" id="{{affiliation.affiliation}}" name="{{affiliation.affiliation}}" onchange="filterBattalion()" />
						<label for="{{affiliation.affiliation}}">{{ affiliation.affiliation }}</label></td></tr>
				{% else %}
					<td><input type="checkbox" id="{{affiliation.affiliation}}" name="{{affiliation.affiliation}}" onchange="filterBattalion()" />
						<label for="{{affiliation.affiliation}}">{{ affiliation.affiliation }}</label></td>
				{% endif %}
			{% endfor %}
				<tr><td><button type="button" onclick="clearCheckbox()">クリア</button></td></tr>
			</table>
		</fieldset>
	</div>

	<table border="2" id="BattalionTable">
		<thead>
			<tr class="header">
				<th>騎士団名<br>
					<input type="text" id="battalionName" onkeyup="filterByName()" placeholder="騎士団名を入力...">
				</th>
				<th>所属</th>
				<th>飛行<br>
					<select id="isFlying" name="isFlying" onchange="filterBattalion()">
						<option value selected>-</option>
						<option value="-">地上</option>
						<option value="飛行">飛行</option>
					</select>
				</th>
				<th>戦力</th>
				<th>計略</th>
			</tr>
		</thead>
		{% if battalion_list %}
		<tbody>
			{% for battalion in battalion_list %}
				<tr>
					<td><a href="{% url 'FE3HApp:battalion' battalion.id %}">{{ battalion.name }}</a></td>
					<td>{{ battalion.affiliation.affiliation }}</td>
					{% if battalion.movement.is_flying == True %}
						<td>飛行</td>
					{% else %}
						<td>-</td>
					{% endif %}
					<td>{{ battalion.endurance }}</td>
					<td>{{ battalion.gambit }}</td>
				</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table>
</div>