{% load static %}
<link rel="stylesheet" href="{% static 'FE3HApp/style.css' %}">

<a href="{% url 'FE3HApp:index' %}">< トップへ戻る</a><br>

<script src="{% static 'FE3HApp/character.js' %}"></script>

<div style="float: left;margin-right:10px">
	<h1>キャラ</h1>

	<table border="2" id="CharacterTable">
		<colgroup>
			<col style="width: 150px;">
			<col style="width: 50px;">
			<col style="width: 165px;">
		</colgroup>
		<thead>
			<tr class="header">
				<th>名前</th>
				<th>性別<br>
					<select id="gender" name="gender" onchange="filterTable()">
						<option value selected>-</option>
						{% for gen in gender %}
							<option value="{{ gen }}">{{ gen }}</option>
						{% endfor %}
					</select>
				</th>
				<th>所属<br>
					{% autoescape off %}
					<select id="affiliation" name=affiliation onchange="filterTable()">
					{% endautoescape %}
						<option value selected>-</option>
						{% for affl in affiliation_list %}
							<option value="{{ affl }}">{{ affl }}</option>
						{% endfor %}
					</select>
				</th>
			</tr>
		</thead>
		{% if character_list %}
			<tbody>
				{% for character in character_list %}
					<tr>
						<td><a href="{% url 'FE3HApp:character' character.id %}">{{ character.name }}</a></td>
						<td>{{ character.gender.gender }}</td>
						<td>{{ character.affiliation.affiliation }}</td>
					</tr>
				{% endfor %}
			</tbody>

		{% else %}
			<caption>No characters available.</caption>
		{% endif %}
	</table>	
</div>