{% load static %}
<link rel="stylesheet" href="{% static 'FE3HApp/style.css' %}">

<a href="{% url 'FE3HApp:index' %}">< トップへ戻る</a><br>

<script>
function filterTable(){
	//let genList = [{% for gen in gender %}'{{gen}}',{% endfor %}]
	//let afflList = [{% for affl in affiliation_list %}'{{affl}}',{% endfor %}];
	//console.log(genList);
	//console.log(afflList);

	var genderFilter, afflFilter, table, tr;
	genderFilter = document.getElementById('gender').value;
	afflFilter = document.getElementById('affiliation').value;
	table = document.getElementById("CharacterTable");
	tr = table.getElementsByTagName("tr");
	// When both filters have a selection
	if(!(genderFilter === "" || afflFilter === "")) {
		for (i = 2; i < tr.length; i++) {
			let tdGender, tdAffl;
			tdGender = tr[i].getElementsByTagName("td")[1];
			tdAffl = tr[i].getElementsByTagName("td")[2];
			if (tdGender && tdAffl) {
				let txtGen, txtAffl;
				txtGen = tdGender.textContent || tdGender.innerText;
				txtAffl = tdAffl.textContent || tdAffl.innerText;
				if (txtGen.indexOf(genderFilter) > -1 && txtAffl.indexOf(afflFilter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	} else if (!(genderFilter === "")) {
		for (i = 2; i < tr.length; i++) {
			let tdGender;
			tdGender = tr[i].getElementsByTagName("td")[1];
			if (tdGender) {
				let txtGen;
				txtGen = tdGender.textContent || tdGender.innerText;
				if (txtGen.indexOf(genderFilter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	} else if (!(afflFilter === "")) {
		for (i = 2; i < tr.length; i++) {
			let tdAffl;
			tdAffl = tr[i].getElementsByTagName("td")[2];
			if (tdAffl) {
				let txtAffl;
				txtAffl = tdAffl.textContent || tdAffl.innerText;
				if (txtAffl.indexOf(afflFilter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	} else {
		for (i = 2; i < tr.length; i++) {
			tr[i].style.display = "";
		}
	}
}
</script>

<div style="float: left;margin-right:10px">
	<h1>キャラ</h1>

	<table border="2" id="CharacterTable">
		<colgroup>
			<col style="width: 150px;">
			<col style="width: 50px;">
			<col style="width: 165px;">
		</colgroup>
		<thead>
			<tr class="header">
				<th>名前</th>
				<th>性別<br>
					<select id="gender" name="gender" onchange="filterTable()">
						<option value selected>-</option>
						{% for gen in gender %}
							<option value="{{ gen }}">{{ gen }}</option>
						{% endfor %}
					</select>
				</th>
				<th>所属<br>
					{% autoescape off %}
					<select id="affiliation" name=affiliation onchange="filterTable()">
					{% endautoescape %}
						<option value selected>-</option>
						{% for affl in affiliation_list %}
							<option value="{{ affl }}">{{ affl }}</option>
						{% endfor %}
					</select>
				</th>
			</tr>
		</thead>
		{% if character_list %}
			<tbody>
				{% for character in character_list %}
					<tr>
						<td><a href="{% url 'FE3HApp:character' character.id %}">{{ character.name }}</a></td>
						<td>{{ character.gender.gender }}</td>
						<td>{{ character.affiliation.affiliation }}</td>
					</tr>
				{% endfor %}
			</tbody>

		{% else %}
			<caption>No characters available.</caption>
		{% endif %}
	</table>	
</div>