{% load static %}
<link rel="stylesheet" href="{% static 'FE3HApp/style.css' %}">

<a href="{% url 'FE3HApp:index' %}">< トップへ戻る</a><br>
<a href="{% url 'FE3HApp:unitbattalion_list' %}">< 自軍ユニット騎士団配属</a><br>

{% csrf_token %}
<!--
<div>
	<h3>追加ユニット：{{ request.session.test_selected_chara }}{{message}}</h3>
</div>
-->

<div style="float: left;margin-right:10px">
	<h1>自軍ユニット</h1>
	<button id="saveButton" onclick="sendUpdateRequest()">保存</button>
	<button id="addButton" onclick="openAddDialog()">追加</button>
	<table border="2" id="CurrentUnitTable">
		<thead>
			<tr class="header">
				<th rowspan="2">キャラ名</th>
				<th rowspan="2">レベル</th>
				<th rowspan="2" style="width: 140px;">クラス</th>
				<th colspan="9">ステータス</th>
				<th colspan="11">技能</th>
				<th colspan="9">成長率</th>
				<th rowspan="2">削<br>除</th>
			</tr>
			<tr class="subheader">
				<th>H<br>P</th>
				<th>力</th>
				<th>魔力</th>
				<th>技</th>
				<th>速さ</th>
				<th>幸運</th>
				<th>守備</th>
				<th>魔防</th>
				<th>魅力</th>

				<th>剣</th>
				<th>槍</th>
				<th>斧</th>
				<th>弓</th>
				<th>格</th>
				<th>理</th>
				<th>信</th>
				<th>指</th>
				<th>重</th>
				<th>馬</th>
				<th>飛</th>

				<th>H<br>P</th>
				<th>力</th>
				<th>魔力</th>
				<th>技</th>
				<th>速さ</th>
				<th>幸運</th>
				<th>守備</th>
				<th>魔防</th>
				<th>魅力</th>
			</tr>
		</thead>

		<tbody id="tbodyUnits">
			{% if currentunit_list %}
				{% for unit in currentunit_list %}
				<!-- 表示データ -->
				<tr class="unit" id="{{ unit.character.name }}-data">
					<td class="txt name" id="{{ unit.character.name }}-data-name">{{ unit.character.name }}</td>
					<td class="num" id="{{ unit.character.name }}-data-lvl">{{ unit.level }}</td>
					
					<td class="txt" id="{{ unit.character.name }}-data-class">{% if unit.unit_class %}{{ unit.unit_class.name }}{% else %}---{% endif %}</td>

					<td class="num" id="{{ unit.character.name }}-data-hp">{{ unit.unit_hp }}</td>
					<td class="num" id="{{ unit.character.name }}-data-str">{{ unit.unit_str }}</td>
					<td class="num" id="{{ unit.character.name }}-data-mag">{{ unit.unit_mag }}</td>
					<td class="num" id="{{ unit.character.name }}-data-dex">{{ unit.unit_dex }}</td>
					<td class="num" id="{{ unit.character.name }}-data-spd">{{ unit.unit_spd }}</td>
					<td class="num" id="{{ unit.character.name }}-data-lck">{{ unit.unit_lck }}</td>
					<td class="num" id="{{ unit.character.name }}-data-def">{{ unit.unit_def }}</td>
					<td class="num" id="{{ unit.character.name }}-data-res">{{ unit.unit_res }}</td>
					<td class="num" id="{{ unit.character.name }}-data-cha">{{ unit.unit_cha }}</td>

					<td class="txt" id="{{ unit.character.name }}-data-sword">{{ unit.prof_sword }}</td>
					<td class="txt" id="{{ unit.character.name }}-data-lance">{{ unit.prof_lance }}</td>
					<td class="txt" id="{{ unit.character.name }}-data-axe">{{ unit.prof_axe }}</td>
					<td class="txt" id="{{ unit.character.name }}-data-bow">{{ unit.prof_bow }}</td>
					<td class="txt" id="{{ unit.character.name }}-data-brawl">{{ unit.prof_brawl }}</td>
					<td class="txt" id="{{ unit.character.name }}-data-reason">{{ unit.prof_reason }}</td>
					<td class="txt" id="{{ unit.character.name }}-data-faith">{{ unit.prof_faith }}</td>
					<td class="txt" id="{{ unit.character.name }}-data-auth">{{ unit.prof_authority }}</td>
					<td class="txt" id="{{ unit.character.name }}-data-armor">{{ unit.prof_armor }}</td>
					<td class="txt" id="{{ unit.character.name }}-data-ride">{{ unit.prof_riding }}</td>
					<td class="txt" id="{{ unit.character.name }}-data-fly">{{ unit.prof_flying }}</td>

					<td class="num" id="{{ unit.character.name }}-data-growth-hp">{% if unit.unit_class == None %}{{ unit.character.hp_growth }}{% else %}{{ unit.character.hp_growth|add:unit.unit_class.hp_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-data-growth-str">{% if unit.unit_class == None %}{{ unit.character.str_growth }}{% else %}{{ unit.character.str_growth|add:unit.unit_class.str_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-data-growth-mag">{% if unit.unit_class == None %}{{ unit.character.mag_growth }}{% else %}{{ unit.character.mag_growth|add:unit.unit_class.mag_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-data-growth-dex">{% if unit.unit_class == None %}{{ unit.character.dex_growth }}{% else %}{{ unit.character.dex_growth|add:unit.unit_class.dex_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-data-growth-spd">{% if unit.unit_class == None %}{{ unit.character.spd_growth }}{% else %}{{ unit.character.spd_growth|add:unit.unit_class.spd_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-data-growth-lck">{% if unit.unit_class == None %}{{ unit.character.lck_growth }}{% else %}{{ unit.character.lck_growth|add:unit.unit_class.lck_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-data-growth-def">{% if unit.unit_class == None %}{{ unit.character.def_growth }}{% else %}{{ unit.character.def_growth|add:unit.unit_class.def_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-data-growth-res">{% if unit.unit_class == None %}{{ unit.character.res_growth }}{% else %}{{ unit.character.res_growth|add:unit.unit_class.res_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-data-growth-cha">{% if unit.unit_class == None %}{{ unit.character.cha_growth }}{% else %}{{ unit.character.cha_growth|add:unit.unit_class.hp_growth }}{% endif %}</td>
					<th style="font-weight: bold;" onclick="sendRemoveRequest('{{ unit.character.name }}')">&cross;</th>
				</tr>

				<!-- 変更・入力 -->
				<!--<tr class="unit hidden" id="{{ unit.character.name }}-input">-->
				<tr class="unit hidden" id="{{ unit.character.name }}-input">
					<td class="txt name" onclick="rowHidden('{{ unit.character.name }}')">{{ unit.character.name }}</td>
					<td class="num">
						<input class="input" type="number" min="0" max="99" id="{{ unit.character.name }}-input-lvl" name="{{ unit.character.name }}-input-lvl" value="{{ unit.level }}" >
					</td>
					
					<td>
						<select id="{{ unit.character.name }}-input-class" name="{{ unit.character.name }}-input-class">
							<option value="---" selected>---</option>
						</select>
					</td>

					<td class="num">
						<input class="input" type="number" min="0" max="{{ unit.character.hp_limit }}" id="{{ unit.character.name }}-input-hp" name="{{ unit.character.name }}-input-hp" value="{{ unit.unit_hp }}">
					</td>
					<td class="num">
						<input class="input" type="number" min="0" max="{{ unit.character.str_limit }}" id="{{ unit.character.name }}-input-str" name="{{ unit.character.name }}-input-str" value="{{ unit.unit_str }}">
					</td>
					<td class="num">
						<input class="input" type="number" min="0" max="{{ unit.character.mag_limit }}" id="{{ unit.character.name }}-input-mag" name="{{ unit.character.name }}-input-mag" value="{{ unit.unit_mag }}">
					</td>
					<td class="num">
						<input class="input" type="number" min="0" max="{{ unit.character.dex_limit }}" id="{{ unit.character.name }}-input-dex" name="{{ unit.character.name }}-input-dex" value="{{ unit.unit_dex }}">
					</td>
					<td class="num">
						<input class="input" type="number" min="0" max="{{ unit.character.spd_limit }}" id="{{ unit.character.name }}-input-spd" name="{{ unit.character.name }}-input-spd" value="{{ unit.unit_spd }}">
					</td>
					<td class="num">
						<input class="input" type="number" min="0" max="{{ unit.character.lck_limit }}" id="{{ unit.character.name }}-input-lck" name="{{ unit.character.name }}-input-lck" value="{{ unit.unit_lck }}">
					</td>
					<td class="num">
						<input class="input" type="number" min="0" max="{{ unit.character.def_limit }}" id="{{ unit.character.name }}-input-def" name="{{ unit.character.name }}-input-def" value="{{ unit.unit_def }}">
					</td>
					<td class="num">
						<input class="input" type="number" min="0" max="{{ unit.character.res_limit }}" id="{{ unit.character.name }}-input-res" name="{{ unit.character.name }}-input-res" value="{{ unit.unit_res }}">
					</td>
					<td class="num">
						<input class="input" type="number" min="0" max="{{ unit.character.cha_limit }}" id="{{ unit.character.name }}-input-cha" name="{{ unit.character.name }}-input-cha" value="{{ unit.unit_cha }}">
					</td>

					<td class="txt">
						<select id="{{ unit.character.name }}-input-sword" name="{{ unit.character.name }}-input-sword">
							<option selected value="E">E</option>
							<option value="E+">E+</option>
							<option value="D">D</option>
							<option value="D+">D+</option>
							<option value="C">C</option>
							<option value="C+">C+</option>
							<option value="B">B</option>
							<option value="B+">B+</option>
							<option value="A">A</option>
							<option value="A+">A+</option>
							<option value="S">S</option>
							<option value="S+">S+</option>
						</select>
					</td>
					<td class="txt">
						<select id="{{ unit.character.name }}-input-lance" name="{{ unit.character.name }}-input-lance">
							<option selected value="E">E</option>
							<option value="E+">E+</option>
							<option value="D">D</option>
							<option value="D+">D+</option>
							<option value="C">C</option>
							<option value="C+">C+</option>
							<option value="B">B</option>
							<option value="B+">B+</option>
							<option value="A">A</option>
							<option value="A+">A+</option>
							<option value="S">S</option>
							<option value="S+">S+</option>
						</select>
					</td>
					<td class="txt">
						<select id="{{ unit.character.name }}-input-axe" name="{{ unit.character.name }}-input-axe">
							<option selected value="E">E</option>
							<option value="E+">E+</option>
							<option value="D">D</option>
							<option value="D+">D+</option>
							<option value="C">C</option>
							<option value="C+">C+</option>
							<option value="B">B</option>
							<option value="B+">B+</option>
							<option value="A">A</option>
							<option value="A+">A+</option>
							<option value="S">S</option>
							<option value="S+">S+</option>
						</select>
					</td>
					<td class="txt">
						<select id="{{ unit.character.name }}-input-bow" name="{{ unit.character.name }}-input-bow">
							<option selected value="E">E</option>
							<option value="E+">E+</option>
							<option value="D">D</option>
							<option value="D+">D+</option>
							<option value="C">C</option>
							<option value="C+">C+</option>
							<option value="B">B</option>
							<option value="B+">B+</option>
							<option value="A">A</option>
							<option value="A+">A+</option>
							<option value="S">S</option>
							<option value="S+">S+</option>
						</select>
					</td>
					<td class="txt">
						<select id="{{ unit.character.name }}-input-brawl" name="{{ unit.character.name }}-input-brawl">
							<option selected value="E">E</option>
							<option value="E+">E+</option>
							<option value="D">D</option>
							<option value="D+">D+</option>
							<option value="C">C</option>
							<option value="C+">C+</option>
							<option value="B">B</option>
							<option value="B+">B+</option>
							<option value="A">A</option>
							<option value="A+">A+</option>
							<option value="S">S</option>
							<option value="S+">S+</option>
						</select>
					</td>
					<td class="txt">
						<select id="{{ unit.character.name }}-input-reason" name="{{ unit.character.name }}-input-reason">
							<option selected value="E">E</option>
							<option value="E+">E+</option>
							<option value="D">D</option>
							<option value="D+">D+</option>
							<option value="C">C</option>
							<option value="C+">C+</option>
							<option value="B">B</option>
							<option value="B+">B+</option>
							<option value="A">A</option>
							<option value="A+">A+</option>
							<option value="S">S</option>
							<option value="S+">S+</option>
						</select>
					</td>
					<td class="txt">
						<select id="{{ unit.character.name }}-input-faith" name="{{ unit.character.name }}-input-faith">
							<option selected value="E">E</option>
							<option value="E+">E+</option>
							<option value="D">D</option>
							<option value="D+">D+</option>
							<option value="C">C</option>
							<option value="C+">C+</option>
							<option value="B">B</option>
							<option value="B+">B+</option>
							<option value="A">A</option>
							<option value="A+">A+</option>
							<option value="S">S</option>
							<option value="S+">S+</option>
						</select>
					</td>
					<td class="txt">
						<select id="{{ unit.character.name }}-input-auth" name="{{ unit.character.name }}-input-auth">
							<option selected value="E">E</option>
							<option value="E+">E+</option>
							<option value="D">D</option>
							<option value="D+">D+</option>
							<option value="C">C</option>
							<option value="C+">C+</option>
							<option value="B">B</option>
							<option value="B+">B+</option>
							<option value="A">A</option>
							<option value="A+">A+</option>
							<option value="S">S</option>
							<option value="S+">S+</option>
						</select>
					</td>
					<td class="txt">
						<select id="{{ unit.character.name }}-input-armor" name="{{ unit.character.name }}-input-armor">
							<option selected value="E">E</option>
							<option value="E+">E+</option>
							<option value="D">D</option>
							<option value="D+">D+</option>
							<option value="C">C</option>
							<option value="C+">C+</option>
							<option value="B">B</option>
							<option value="B+">B+</option>
							<option value="A">A</option>
							<option value="A+">A+</option>
							<option value="S">S</option>
							<option value="S+">S+</option>
						</select>
					</td>
					<td class="txt">
						<select id="{{ unit.character.name }}-input-ride" name="{{ unit.character.name }}-input-ride">
							<option selected value="E">E</option>
							<option value="E+">E+</option>
							<option value="D">D</option>
							<option value="D+">D+</option>
							<option value="C">C</option>
							<option value="C+">C+</option>
							<option value="B">B</option>
							<option value="B+">B+</option>
							<option value="A">A</option>
							<option value="A+">A+</option>
							<option value="S">S</option>
							<option value="S+">S+</option>
						</select>
					</td>
					<td class="txt">
						<select id="{{ unit.character.name }}-input-fly" name="{{ unit.character.name }}-input-fly">
							<option selected value="E">E</option>
							<option value="E+">E+</option>
							<option value="D">D</option>
							<option value="D+">D+</option>
							<option value="C">C</option>
							<option value="C+">C+</option>
							<option value="B">B</option>
							<option value="B+">B+</option>
							<option value="A">A</option>
							<option value="A+">A+</option>
							<option value="S">S</option>
							<option value="S+">S+</option>
						</select>
					</td>

					<td class="num" id="{{ unit.character.name }}-input-growth-hp">{% if unit.unit_class == None %}{{ unit.character.hp_growth }}{% else %}{{ unit.character.hp_growth|add:unit.unit_class.hp_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-input-growth-str">{% if unit.unit_class == None %}{{ unit.character.str_growth }}{% else %}{{ unit.character.str_growth|add:unit.unit_class.str_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-input-growth-mag">{% if unit.unit_class == None %}{{ unit.character.mag_growth }}{% else %}{{ unit.character.mag_growth|add:unit.unit_class.mag_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-input-growth-dex">{% if unit.unit_class == None %}{{ unit.character.dex_growth }}{% else %}{{ unit.character.dex_growth|add:unit.unit_class.dex_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-input-growth-spd">{% if unit.unit_class == None %}{{ unit.character.spd_growth }}{% else %}{{ unit.character.spd_growth|add:unit.unit_class.spd_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-input-growth-lck">{% if unit.unit_class == None %}{{ unit.character.lck_growth }}{% else %}{{ unit.character.lck_growth|add:unit.unit_class.lck_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-input-growth-def">{% if unit.unit_class == None %}{{ unit.character.def_growth }}{% else %}{{ unit.character.def_growth|add:unit.unit_class.def_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-input-growth-res">{% if unit.unit_class == None %}{{ unit.character.res_growth }}{% else %}{{ unit.character.res_growth|add:unit.unit_class.res_growth }}{% endif %}</td>
					<td class="num" id="{{ unit.character.name }}-input-growth-cha">{% if unit.unit_class == None %}{{ unit.character.cha_growth }}{% else %}{{ unit.character.cha_growth|add:unit.unit_class.hp_growth }}{% endif %}</td>
					<th style="font-weight: bold;" onclick="sendRemoveRequest('{{ unit.character.name }}')">&cross;</th>
				</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="33" style="text-align: center;">自軍ユニットがいません</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
	<!--<a href="{% url 'FE3HApp:currentunit_add' %}">キャラ追加</a>-->
</div>

<dialog id="addDialog" style="width: 200px; height: 150px;">
	<table>
		<h3>キャラ追加</h3>
		<select id="newCharaList" style="font-size: 16px;">
			<option selected value>---</option>
		</select>
		<tr>
			<td><button id="cancelAdd" onclick="closeDialog('addDialog')">キャンセル</button></td>
			<td><button id="addChara" onclick="sendAddRequest('addDialog')">追加</button></td>
		</tr>
	</table>
</dialog>


<script src="{% static 'FE3HApp/currentunit.js' %}"></script>
